*{
    margin: 0px;
    padding: 0px;
}
/* --------------navigation bar----------------- */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}
.img-span{
    color: rgb(236, 220, 220);
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
}
.navbar-nav li{
    padding:  0 20px;
}
.navbar-nav li a{
    text-align: center;    
}
.nav-link:hover{
    color: rgb(236, 28, 45)!important;
}
.navbar{
    background: rgb(19, 17, 17);
}
#navbarDropdown{
    color: rgb(236, 220, 220);
}   
.dropdown-item{
    color: rgb(236, 220, 220);
    background: rgb(19, 17, 17); 
}
.dropdown-menu{
    background: rgb(19, 17, 17); 
}
.navbar-toggler{
    border: none!important;
}
.navbar-toggler-icon{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    
}
.nav-link{
    font-weight: 600;
    font-size: 16px;
    color: white;
}
.baner-text{
    background-image: url(../img/background10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    text-align: center;
    padding-bottom: 235px;
    
}
.baner-text h1{
    max-width: 900px;
    font-size: 82px;
    font-weight: 1000;
   margin: 0 auto;
   padding-top: 150px;
}
.baner-text h2{
    max-width: 900px;
    font-size: 82px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 30px;
}
.baner-text p{
    max-width: 900px;
    font-size: 27px;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 50px;
}
.baner-text a{
    color: white;
    padding: 16px 30px;
    background-color: rgb(236, 28, 45);
    border-radius: 50px;
}
.my-card {
    padding: 0px;
    border: none;
}
.my-card :hover{
    cursor: pointer;
}
.card-title{
    margin-top: -50px;
    float: right;
    color: #44f7b3;
    font-weight: 700;
}
.text-baner2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.text-baner2 p{
    font-size: 25px;
    font-weight: 300;
    color: rgb(48, 48, 48);
}
.text-baner2 h1{
    font-weight: 700;
    font-size: 55px;

}
#icon{
    margin-top: 200px;
}
.my-icon{
    padding: 0px;
    border: none;    
}
.my-icon .fa{
    color: #f06db9;
    font-size: 60px;
    padding-left: 20px;
}
.my-icon h5{
    color: #ffa0a4;
    font-size: 40px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px;
}
.my-icon p{
    color: #767676;
    font-size: 20px;
    font-weight: 300;
}


.background-3 {
    background-image: url(../img/background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;

}
.Online-Shopping {
    background: none;
    border: none;
}
.Shopping-card-1 h5{
    color: white;
    width: 300px;
}
.cart{
    padding-top: 10px;
}
.cart a{
    color: white;
}
.Shopping-card-2{
    display: flex;
}
.icon{
    margin-right: 5px;
}
.icon-box{
    margin-bottom: 15px;
}
.icon-name-box{
    margin-bottom: 15px;
}
.icon-name{
    color: white;
}
.fa{
    color: white;
}

.Shopping-card-3{
    width: 380px;
}
.credit-card{
    height: 33px;
    text-align: center;
}
.Shopping-card-3 h5{
    color: white;
    padding-bottom: 20px;
}
.Shopping-card-3 span{
    color: #f06db9;
}